    <div class="footer-container">
        <footer class="footer">
            <!--<h3>footer</h3>-->
            <div class="colofon">
                <h3 class="colofon-title">Postadres</h3>
                <p>
                    Jac. van Beierenweg 78<br />
                    2215 KZ Voorhout
                </p>
            </div>
            <div class="colofon">
                <h3 class="colofon-title">Andere contactinformatie</h3>
                <p>
                    <a href="tel:+31653633798">+31 6 53633798</a><br />
                    <span class="email">ln.edargpugnivegmo@pooj</span><br />
                    <a href="/contact/">Neem contact met ons op!</a>
                </p>
            </div>
            <div class="colofon">
                <h3 class="colofon-title">&nbsp;</h3>
                <p>
                    KvK: 28103203<br />
                    BTW: 098475307.B01<br />
                    Design door <a href="//robinberghuijs.com">Robin Berghuijs</a>
                </p>
            </div>
        </footer>
    </div>
</div><!-- wrapper -->

<script src="/js/modernizr.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery-1.9.1.min.js"><\/script>')</script>
<script>window.jQuery || document.write('<script src="/js/jquery-ui-1.10.1.custom.min.js"><\/script>')</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/responsiveslides.js"></script>
<script src="/js/magnific.min.js"></script>
<script>
    $(function() {
        $("#frontpage-slider").responsiveSlides({

        });
    });
    $(function() {
        $('.magnific').magnificPopup({
            type:'image'
        });
    });
</script>

<script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>