---
title: Omgeving Upgrade - home
---

<header class="page-header">
	<h1>Omgeving Upgrade</h1>
	<h2>Uw partner in het representatief maken van uw bedrijfsomgeving. <!--Onderhoud van uw buitengebied rond uw vastgoed en parkeerterrein.--></h2>
	<a href="#">Neem contact op!</a>

</header>

<div class="slides-container">
     <ul class="rslides" id="frontpage-slider">
		<li>
			<img src="img/nieuwesite.jpg" alt="">
			<p class="caption">Welkom op de nieuwe website van Omgeving Upgrade!</p>
		</li>
		<li>
			<img src="img/particulieren.jpg" alt="">
			<p class="caption">Wij maken uw woonomgeving tot een plaats waar u trots op bent. <%= link_to 'lees meer »', 'particulieren.html' %></p>
		</li>
		<li>
			<img src="img/horeca.jpg" alt="">
			<p class="caption">Een terras is de eyecatcher van elke horeca zaak, daar horen plantenbakken of borders bij! <%= link_to 'lees meer »', 'horeca.html' %></p>
		</li>
		<li>
			<img src="img/vastgoed.jpg" alt="">
			<p class="caption">Wij helpen de uitstraling van uw vastgoed te verbeteren. <%= link_to 'lees meer »', 'vastgoed.html' %></p>
		</li>
	</ul>
</div>

 <article class="frontpage">
     <header>
         <h1>Omgeving Upgrade</h1>
     </header>
     <section>
         <p>Graag zijn wij uw partner in het representatief maken van uw omgeving, dit doen wij graag voor bedrijven, instellingen, gemeentes, verenigingen, etc., maar ook voor particulieren.</p>
		<p>Uw gedachten en onze kennis, geven uw locatie een uitstraling die past bij uw filosofie.</p>
		<p>Door onderhoud en inrichting kan een uitstraling van een locatie simpel veranderen. Plaatsen van het juiste straatmeubilair, straatwerk opknappen, de juiste groenaanleg. Een reiniging van uw entree opgefleurd met een mooie plantenbak, en ook periodieke onderhoud. Samen een idee vormen voor de juiste aanpak, uw bezoekers krijgen zo een goede eerste indruk bij het bezoeken van uw locatie. Goede bebording met uw logo’s en naam doet mensen beseffen dat ze welkom zijn en op de goede weg. Op uw locatie de juiste verkeersborden en aanwijzingen en belijning doet ook het gebruik verbeteren van de ruimte en de veiligheid vergroten.</p>
     </section>
 </article>